<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ninja Gold</title>
  <link rel="stylesheet" type="text/css" href="../static/ninjagold.css">
</head>
<body>
  <p class='mine'>Your Gold: <span>{{gold}} </p></span>
  <div>
    <h3>Farm</h3>
    <p>(Earns 10-20 gold)</p>
    <form action="/process_money" method="post">
      <input type="hidden" name="building" value="farm" />
      <input type="submit" value="Find Gold!"/>
    </form>
  </div>
  <div>
    <h3>Cave</h3>
    <p>(Earns 5-10 gold)</p>
    <form action="/process_money" method="post">
      <input type="hidden" name="building" value="cave" />
      <input type="submit" value="Find Gold!"/>
    </form>
  </div>
  <div>
    <h3>House</h3>
    <p>(Earns 2-5 gold)</p>
    <form action="/process_money" method="post">
      <input type="hidden" name="building" value="house" />
      <input type="submit" value="Find Gold!"/>
    </form>
  </div>
  <div>
    <h3>Casino</h3>
    <p>(Earns/takes 0-50 gold)</p>
    <form action="/process_money" method="post">
      <input type="hidden" name="building" value="casino" />
      <input type="submit" value="Find Gold!"/>
    </form>
  </div>
  <p class="mine">Activities:</p>

</body>
</html>
